# Don't track content of these folders #
########################################
cache/
saves/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
.vscode/settings.json
Villain Reform School/game/.vscode/settings.json
Villain Reform School/log.txt
Villain Reform School/game/cache/screens.rpyb
Villain Reform School/game/saves/navigation.json
Villain Reform School/game/saves/persistent
Villain Reform School/game/saves/navigation.json
Villain Reform School/game/cache/bytecode-39.rpyb
Villain Reform School/game/cache/screens.rpyb
Villain Reform School/game/saves/persistent
Villain Reform School/game/cache/py3analysis.rpyb
